<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Файлы</title>
    <link rel="stylesheet" th:href="@{styles/stylesheet.css}">
</head>
<body>

<h2>Доступные файлы:</h2>
<table>
    <thead>
    <tr class="headercolor">
        <th class="small-column">ID</th>
        <th>Файл</th>
        <th>Комментарий</th>
        <th>Добавлен</th>
        <th class="small-column"></th>
        <th class="small-column" th:if="${manager}"></th>
    </tr>
    </thead>
    <tr th:each="file : ${files}" th:class="${fileStat.odd} ? 'lightraw' : 'darkraw'">
        <td th:text="${file.id}">1</td>
        <td th:text="${file.name}">user</td>
        <td th:text="${file.info}">info</td>
        <td th:text="${file.createdMediumString}">created</td>
        <td>
            <form method="GET" th:action="'/files/get/' + ${file.id}">
                <button type="submit">Скачать</button>
            </form>
        </td>
        <td th:if="${manager}">
            <form method="POST" th:action="'/files/delete/' + ${file.id}">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
</table>

<br>

<div th:if="${manager}">
    <h2>Добавить новый:</h2>
    <form method="POST" enctype="multipart/form-data" th:action="@{/files/add}">
    <table class="width100">
        <tr class="headercolor">
            <th><input type="file" name="file" class="width100"/></th>
            <th class="small-column"> </th>
        </tr>
        <tr class="lightraw">
            <td style="padding-right:10px"><input type="text" name="info" placeholder="Комментарий" class="width100"></td>
            <td><button type="submit">Добавить</button></td>
        </tr>
    </table>
    </form>
</div>

</body>
</html>
